.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 220px;
	height: 100%;
	padding-top: 10px;
	background: $darkblue-color;
	background-image: url('../imgs/texture.png');
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
	transform: translateX(-220px);
	transition: all .25s linear;
	padding: 50px 0;
	margin: 0;
	z-index: 1;
	ul {
		list-style-type: none;
		padding: 0;
	}
	li a {
		display: block;
		margin: 15px 10px;
		padding-top: 20px;
		font-family: $lato;
		font-weight: bolder;
		text-transform: uppercase;
		color: $lightblue-color;
		text-decoration: none;
		border-bottom: 2px solid $lightblue-color;
		width: 150px;
		transition: width 250ms ease-in-out;
		&:hover {
			width: 200px;
		}
	}
	.contact-menu a {
		background-color: #9cdade;
	    text-align: center;
	    padding: 10px;
	    border: none;
	    color: #296061;
	    transition: none;
	    width: 200px;
	    &:hover {
	    	color: $lightblue-color;
	    	background-color: $darkblue-color;
	    	outline: 4px solid $lightblue-color;
	    	transition: outline 200ms ease-in-out;
	    }
	}
}
.menu-active {
	&, body {
		overflow-y: hidden;
	}
	.menu {
		transform: translateX(0);
	}
}