/*** Set Font Size for Site **/

:root {
	font-size: 18px;
}

/*** Base Body Styles **/

* {
	box-sizing: border-box;
}

body {
	font-family: $dosis;
	color: $white-color;
	background-color: $lightblue-color;
}

p {
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
	font-family: $lato;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 5.55em;
}

h2 {
	font-size: 2.85em;
}

a {
	text-decoration: none;	
}