// Dosis Font Family
$dosis: 'Dosis', sans-serif;
// Lato Font Family
$lato: 'Lato', sans-serif;

// Main white-ish font color
$white-color: #d7e6e6;
// Grey-ish contact color
$grey-color: #64827a;
// Lighter blue color (main bg)
$lightblue-color: #9cdade;
// Darker blue color
$darkblue-color: #296061;
// Orange color
$link-color: #ff8300;
