.boxes-wrap {
	display: flex;
	flex-wrap: wrap;
	background-image: url('../imgs/body-texture.png');
	background-repeat: repeat;
	text-align: center;
	.top-boxes {
		display: flex;
		width: 100vw;
		flex-wrap: wrap;
		.left-box {
			border-right: 5px solid $darkblue-color;
			border-bottom: 5px solid $darkblue-color;
			h2 {
				margin: 25px 0 0 0;
			}
			@media (max-width: 769px) {
				border-right: none;
			}
		}
		.right-box {
			border-left: 5px solid $darkblue-color;
			border-bottom: 5px solid $darkblue-color;
			h2 {
				margin: 0 0 25px 0;
			}
			@media (max-width: 769px) {
				border-left: none;
				border-top: 5px solid $darkblue-color;
				h2 {
					margin: 25px 0 0 0;
				}
			}
		}
	}
	.bottom-boxes {
		display: flex;
		width: 100vw;
		flex-wrap: wrap;
		#blog-img {
			border-radius: 10%;
		}
		.left-box {
			border-right: 5px solid $darkblue-color;
			border-top: 5px solid $darkblue-color;
			padding-bottom: 0;
			h2 {
				margin: 25px 0 0 0;
			}
			button {
				background-color: #9cdade;
			    text-align: center;
			    padding: 6px 10px;
			    margin-top: 10px;
			    border: none;
			    width: 200px;
			    &:hover {
			    	background-color: $darkblue-color;
			    	outline: 4px solid $lightblue-color;
			    	transition: outline 300ms ease-in-out;
			    }
			    a {
			    	color: #296061;
			    	&:hover {
			    		color: $lightblue-color;
			    	}
			    }

			}
			@media (max-width: 769px) {
				border-right: none;
				border-bottom: 5px solid $darkblue-color;
			}
		}
		.right-box {
			border-left: 5px solid $darkblue-color;
			border-top: 5px solid $darkblue-color;
			h2 {
				margin: 0 0 25px 0;
			}
			@media (max-width: 769px) {
				border-left: none;
				h2 {
					margin: 25px 0 0 0;
				}
			}
		}
	}
	.left-box {
		flex-direction: column;
		p {
		margin-bottom: 25px;
		}
		@media (max-width: 769px) {
			flex-direction: column;
			p {
				margin-top: 25px;
			}
		}
	}
	.right-box {
		flex-direction: column-reverse;
		p {
			margin-top: 25px;
		}
		@media (max-width: 769px) {
			flex-direction: column;
			p {
				margin-bottom: 25px;
			}
		}
	}
	.box {
		width: 50%;
		display: flex;
		align-items: center;
		h2 {
			color: $darkblue-color;
		}
		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			box-shadow: 0 0 10px #222;
			margin: 25px 0;
		}
		p {
			padding: 25px 10%;
			background-color: $darkblue-color;
			max-width: 100%;
			background-image: url(../imgs/texture.png);
			background-attachment: fixed;
		}
		@media (max-width: 769px) {
			flex-basis: 100%;
		}
	}
}