.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url('../imgs/texture.png');
	background-color: $darkblue-color;
	background-attachment: fixed;
	padding: 0px 40px;
	.copyright-text {
		width: 280px;
		font-family: $lato;
		font-weight: bold;
	}
	.logo {
		svg {
			width: 150px;
		}
	}
	.social-icons {
		width: 280px;
		text-align: center;
		height: 60px;
		div {
			display: inline-block;
			font-size: 45px;
			color: $lightblue-color;
			transition: color 200ms linear;
			&:hover {
				color: $link-color;
			}
		}
	}
	@media (max-width: 769px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-bottom: 10px;
		.logo {
			order: -1;
			height: 85px;
		}
		.copyright-text {
			order: 1;
		}
	}
}