.intro-wrap {
	background-image: url('../imgs/texture.png');
	background-color: $darkblue-color;
	background-attachment: fixed;
	padding: 10px;
	.nav-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.contact-cta {
		width: 100px;
		margin-bottom: auto;
		text-decoration: none;
    	transition: margin 250ms ease-in-out;
		@media (max-width: 769px) {
			display: none;		
		}
    	&:hover:after {
			margin: 0 auto;
			border-top-color: #eafcff;
    	}
		&:after {
			content: '';
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 10px solid $white-color;
			margin: -2px auto;
			display: block;
		    transition: margin 100ms linear;
		}
		&.contact-cta-open {
			margin-top: -35px;
			&:after {
				margin-top: -10px;
			}
		}
		p {
			font-family: $lato;
			font-weight: bold;
			margin: 0;
			font-size: 0.85em;
			text-align: center;
			color: $darkblue-color;
			background-color: $white-color;
			border-radius: 25%;
			padding: 5px 10px;
    		&:hover {
    			background-color: #eafcff;
    		}
		}
	}
	.logo {
		@media (max-width: 769px) {
			margin-top: -10px;
			width: 150px;
			order: -1;
		}
		svg {
			@media (max-width: 769px) {
				width: 100%;		
			}
			path, rect {
				stroke-dasharray: 1000;
				stroke-dashoffset: 1000;
				animation: fill-logo 0.4s linear 1.8s forwards,
						   dash 2.7s linear forwards 0.5s;
				fill-opacity: 0;
				transform: translateX(-4px);
			}
		}
	}
	.intro-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 35px 0;
		.greeting {
			color: $lightblue-color;
		}
		.subtitle-container {
			position: relative;
			margin-bottom: 10px;
			.subtitle {
				&:before, &:after {
					content: "";
				    position: absolute;
				    height: 0px;
				    border-top: 2px solid #fff;
				    top: 30px;
				    width: 0%;
				    animation: expand-width 500ms linear;
				    animation-delay: 2.7s;
				    animation-fill-mode: forwards;
				    @media (max-width: 769px) {
						display: none;
					}
				}
				&:before {
					right: 100%;
					margin-right: 15px;
				}
				&:after {
					left: 100%;
					margin-left: 15px;
				}
			}
		}
		.intro-copy {
			width: 50%;
			margin-bottom: 35px;
			font-size: 1.125em;
			@media (max-width: 769px) {
				width: 100%;
			}
		}
	}
}





@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fill-logo {
	to {
		fill-opacity: 1;
	}
}

@keyframes expand-width {
	to {
		width: 50%;
	}
}